@import "../../sass/_animation";

.contentWebsites {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;

  gap: 2rem;
  justify-content: center;
  align-items: center;
  animation: var(--animation-BannerYT);
}

.WebsitesComponent {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  .textarea {
    display: none;
  }

  &:hover {
    animation: scaleBanner 0.5s ease forwards;
    .textarea {
      position: absolute;
      flex-direction: column;
      padding: 1rem;
      gap: 0.8vh;
      width: 30vw;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      cursor: pointer;

      border-radius: 0 0 24px 24px;
      bottom: 0vh;
      background-color: rgba(0, 0, 0, 0.699);
      z-index: 2;
      animation: textAreaOpacity 0.5s ease forwards;
    }
  }
}
.Banner {
  opacity: 0.9;
  width: 30vw;
  z-index: 1;
  border-radius: 25px;
  cursor: pointer;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}

@keyframes textAreaOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.titul {
  position: relative;
  font-size: 2rem;
  width: 80%;
  color: #ffd700;
}
.text {
  position: relative;
  font-size: 1rem;
  width: 95%;
  color: whitesmoke;
}
@keyframes scaleBanner {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.03;
  }
}
@keyframes bannerAni {
  0% {
    transform: translateX(150vw);
  }
  20% {
    transform: translateX(150vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) {
  .contentWebsites {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: unset;
    animation: var(--animation-BannerYT-Mobile);
    top: 0vh;
    padding: 5em 0;
  }

  .WebsitesComponent {
    height: 100%;
    gap: 5vw;
    top: 10vh;
    .textarea {
      display: none;
    }

    .textarea {
      position: absolute;
      flex-direction: column;
      gap: 0.8vh;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 1;
      padding: 1vh 0;
      cursor: pointer;

      border-radius: 0 0 24px 24px;
      bottom: 0vh;
      background-color: rgba(0, 0, 0, 0.699);
      z-index: 2;
    }
  }
  .Banner {
    position: relative;
    opacity: 0.7;
    width: 90vw;
    object-fit: cover;
    z-index: 1;
    border-radius: 25px;
  }

  @keyframes textAreaOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .titul {
    font-size: 1.2rem;
  }
  .text {
    font-size: 1rem;
  }
  @keyframes scaleBanner {
    0% {
      scale: 1;
    }
    100% {
      scale: 1.03;
    }
  }
  @keyframes bannerAni {
    0% {
      transform: translateX(150vw);
    }
    20% {
      transform: translateX(150vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 900px) {
  .contentWebsites {
    padding: 7em 0;
  }
  .titul {
    position: relative;
    font-size: 3rem;
    width: 80%;
    color: #ffd700;
  }
  .text {
    position: relative;
    font-size: 1.5rem;
    width: 95%;
    color: whitesmoke;
  }
}
