@use "../sass/index" as *;

.header {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.header2 {
  position: relative;
  display: flex;
  animation: header2Ani 1s ease forwards;

  z-index: 3;
}
@keyframes header2Ani {
  0% {
    left: 40vw;
  }
  40% {
    left: 40vw;
  }
  100% {
    left: 5vw;
  }
}
.header3 {
  position: relative;
  display: flex;
  animation: header3Ani 1s ease forwards;
  z-index: 3;
}
@keyframes header3Ani {
  0% {
    left: 5vw;
  }
  99% {
    left: 40vw;
    justify-content: unset;
  }
  100% {
    left: 0vw;
    justify-content: center;
  }
}

.iconSVG {
  position: relative;
  height: 40px;
  top: 1.5vh;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(0 0 0.2rem #ffd700);
  }
}
.headerContainerStart {
  position: fixed;
  display: inline-flex;
  width: 300px;
  height: 80px;
  background-color: #4d5061;
  box-shadow: 0px 3px #ffd700;
  justify-content: center;

  border-radius: 0 0 2em 2em;
  z-index: 3;
  gap: 1em;
}

.headerContainerUnActive {
  position: fixed;
  display: inline-flex;
  width: 300px;
  height: 80px;

  background-color: rgba(77, 80, 97, 0.84);
  box-shadow: 0px 3px #ffd700;
  justify-content: center;
  border-radius: 0 0 2em 2em;
  z-index: 3;

  animation: ok 0.4s ease forwards;
  gap: 1em;
}
@keyframes ok {
  0% {
    background-color: rgba(77, 80, 97, 0.84);
    width: 80%;
    height: 50vh;
  }

  100% {
    width: 300px;
    height: 80px;

    background-color: rgba(77, 80, 97, 1);
  }
}
.headerContainerActive {
  position: fixed;
  display: inline-flex;
  width: 300px;
  height: 80px;
  justify-content: center;
  z-index: 3;
  gap: 1em;
}
.pushMenuDown {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
  animation: blackRoll 0.6s ease forwards;
}
@keyframes blackRoll {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
.pushMenuHidden {
  display: none;
}
.containerNav {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  order: 2;
  justify-content: center;
}
.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80px;
  border-radius: 0 0 2em 2em;
  background-color: #4d5061f5;
  box-shadow: 0px 3px #ffd700;
  justify-content: center;
  align-items: center;
  animation: menuAni 0.9s ease forwards;
}
@keyframes menuAni {
  0% {
    width: 300px;
    height: 80px;
    background-color: rgba(77, 80, 97, 1);
  }
  40% {
    width: 80%;
    height: 80px;
  }
  66% {
  }
  100% {
    width: 80%;
    height: 50vh;
    background-color: rgba(77, 80, 97, 0.96);
  }
}
.menu2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 5vw;
  width: 80%;
  height: 10vh;
  border-radius: 0 0 2em 2em;
  background-color: #4d5061f5;
  box-shadow: 0px 3px #ffd700;
  align-items: center;
  justify-content: center;
  animation: menuAni2 0.9s ease forwards;
}
@keyframes menuAni2 {
  0% {
    width: 300px;
    height: 10vh;
    background-color: rgba(77, 80, 97, 1);
  }

  100% {
    transform: scaleX(60vw);
    height: 50vh;
    background-color: rgba(77, 80, 97, 0.96);
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: default;

  top: 5vh;

  h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #d6d2c7;
    text-shadow: 1.5px 1.5px #000000;
    width: 80%;
    animation: menuContentAni 1s ease forwards;
  }
}
.circleUnactive {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  opacity: 1;
  background-color: none;
  border-radius: 50%;
  border: 0.2em solid whitesmoke;
  animation: menuContentAni 1s ease forwards;
  opacity: 0.5;

  img {
    opacity: 0.8;
    position: relative;
    object-fit: cover;
    width: 65%;
  }
}
.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  opacity: 1;
  background-color: none;
  border-radius: 50%;
  border: 0.2em solid #ffd700;
  animation: menuContentAni 1s ease forwards;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(0 0 0.1rem #ffd700);
  }
  img {
    opacity: 0.8;
    position: relative;
    object-fit: cover;
    width: 65%;
  }
}

@keyframes menuContentAni {
  0% {
    opacity: 0;
  }
  33% {
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .header3 {
    justify-content: center;
    animation: none;
  }
  .header2 {
    animation: none;
    justify-content: center;
  }
  .headerContainerStart {
    width: 200px;
  }
  .headerContainerUnActive {
    width: 200px;
    animation: none;
  }
  @keyframes ok {
    0% {
      background-color: rgba(77, 80, 97, 0.84);
      width: 80%;
      height: 50vh;
    }

    100% {
      width: 200px;
      height: 80px;
      background-color: rgba(77, 80, 97, 1);
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 50% 50%;
    animation: menuAni 0.6s ease forwards;
  }
  @keyframes menuAni {
    0% {
      width: 220px;
      height: 12vh;
      background-color: rgba(77, 80, 97, 1);
    }
    40% {
      width: 100%;
      height: 12vh;
    }
    100% {
      width: 100%;
      height: 70vh;
      background-color: rgba(77, 80, 97, 0.96);
    }
  }
  .menu2 {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    left: 0;
    animation: menuAni 0.6s ease forwards;
  }
  .circleUnactive {
    width: 130px;
    height: 130px;
  }
  .circle {
    width: 130px;
    height: 130px;
  }
  .iconSVG {
    top: 2vh;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 900px) {
  .header2 {
    animation: none;
    justify-content: center;
  }
  .menu {
    display: grid;
    grid-template-columns: 50% 50%;
    animation: menuAni 0.9s ease forwards;
  }
  @keyframes menuAni {
    0% {
      width: 300px;
      height: 80px;
      background-color: rgba(77, 80, 97, 1);
    }
    40% {
      width: 100%;
      height: 80px;
    }
    100% {
      width: 100%;
      height: 80vh;
      background-color: rgba(77, 80, 97, 0.96);
    }
  }
  .menu2 {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .circleUnactive {
    width: 250px;
    height: 250px;
  }
  .circle {
    width: 250px;
    height: 250px;
  }
  .iconSVG {
    width: 50px;
    height: 50px;
    top: 1vh;
  }
}
