.Stocks {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 12vh 2vh 8vh 2vh;
  overflow: hidden;
}
.containerSectionStocks {
  position: relative;
  display: grid;
  width: 90%;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 3vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.containerStocks {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 20vw;
  height: 30vh;
  padding: 0.5vw;
  border-radius: 0.8vw;
  cursor: pointer;
  background-color: #4d5061f8;
  box-shadow: 0px 3px #ffd700;
  text-align: center;
  z-index: 0;

  &:hover {
    animation: scaleNews 0.5s ease forwards;
    filter: drop-shadow(0 -0.5mm 1mm #00eeff);
    box-shadow: 0px 3px #00eeff;
    z-index: 4;
    h1 {
      color: #00eeff;
    }
    h5 {
      color: #00eeff;
    }
  }
  h1 {
    position: relative;
    color: #ffd700;
    font-size: 1.2rem;
    padding: 0;
  }
  p {
    align-items: center;
    display: flex;

    position: relative;
    color: whitesmoke;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 65%;
  }
}
@keyframes scaleNews {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes loadingNews {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .Stocks {
    h1 {
      font-size: 1.2rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .Stocks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 14vh 2vh 8vh 2vh;
    overflow: hidden;
  }
  .containerSectionStocks {
    position: relative;
    display: flex;
    gap: 3vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .containerStocks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 40vh;
    padding: 2vw;
    gap: 0.5vw;
    border-radius: 1.5em;
    cursor: pointer;
    background-color: #4d5061f8;
    box-shadow: 0px 3px #ffd700;
    text-align: center;
    z-index: 0;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 900px) {
  .containerSectionStocks {
    grid-template-columns: 50% 50%;
  }
  .containerStocks {
    width: auto;
    height: 25vh;
    border-radius: 1.5em;
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
