.StocksAnalyzer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  h1 {
    position: relative;
    color: whitesmoke;
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  input {
    width: 600px;
    height: 50px;
    border-radius: 20px;
    padding: 0 20px;
  }
}
.errorMassage {
  color: red;
  padding: 50px;
  font-size: 2rem;
}
.gridContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.companyName {
  font-size: 6rem;
  padding: 0.5em 0 0 0;
  color: #ffd700;
  text-shadow: 1.5px 1.5px #000000;
}
.companySummary {
  width: 80%;
  font-size: 1rem;
  color: whitesmoke;
  text-align: center;
}
.pillersContainer {
  position: relative;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  gap: 5%;
}
.pillersBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 200px;
  height: 180px;
  gap: 10%;

  background-color: rgba(77, 80, 97, 1);
  box-shadow: 0px 3px #ffd700;
  h1 {
    font-size: 1.6rem;
    text-align: center;
    height: 30%;
  }
  p {
    font-size: 2rem;
    color: #ffd700;
  }
}

.dataContainer {
  position: relative;
  padding: 2em 0;
}

.dataYears {
  position: relative;
  display: flex;
  gap: 28%;
  align-items: center;
  width: 1200px;
  height: 60px;
  margin: 5px 0;
  border-radius: 5px;
  padding: 0 25px;
  background-color: rgba(77, 80, 97, 1);
  .years {
    position: relative;
    display: flex;
    gap: 65%;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
    color: whitesmoke;
    margin-bottom: 0;
  }
}
.data {
  position: relative;
  display: flex;
  gap: 8.5%;
  align-items: center;
  width: 1200px;
  height: 100px;
  margin: 5px 0;
  border-radius: 5px;
  padding: 0 25px;
  background-color: rgba(77, 80, 97, 1);
  h1 {
    width: auto;
    font-size: 1.9rem;
    width: 25%;
  }
  p {
    width: 100px;
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
    margin-bottom: 0;
  }
}
