@import "../sass/_animation";

.contentWebsites {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 2vw;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  animation: var(--animation-BannerYT);
}

.WebsitesComponent {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 2vw;
  .textarea {
    display: none;
  }

  &:hover {
    animation: scaleBanner 0.5s ease forwards;
    .textarea {
      position: absolute;
      flex-direction: column;
      gap: 0.8vh;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 0;
      padding: 1vh 0;
      cursor: pointer;

      border-radius: 0 0 1.45vw 1.45vw;
      bottom: 0vh;
      background-color: rgba(0, 0, 0, 0.699);
      z-index: 2;
      animation: textAreaOpacity 0.5s ease forwards;
    }
  }
}
.panel1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.Logo {
  position: absolute;
  display: none;
  width: 4vw;
  left: 3vw;
  top: 1vh;
  border-radius: 50vw;
  cursor: pointer;
  z-index: 2;
}
.Banner {
  opacity: 0.7;
  width: 30vw;
  z-index: 1;
  border-radius: 1.5vw;
  cursor: pointer;
}

@keyframes textAreaOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.titul {
  position: relative;
  font-size: 1vw;
  width: 80%;
  color: #ffd700;
}
.text {
  position: relative;
  font-size: 0.8vw;
  width: 80%;
  color: whitesmoke;
}
@keyframes scaleBanner {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.03;
  }
}
@keyframes bannerAni {
  0% {
    transform: translateX(150vw);
  }
  20% {
    transform: translateX(150vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
