@import "../sass/_animation";

.contentWebsites {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 2vw;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.WebsitesComponent {
  position: relative;
  display: flex;

  align-items: center;
  gap: 2vw;
  animation: var(--animation-BannerYT);
}
.panel1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.Logo {
  position: absolute;
  display: none;
  width: 4vw;
  left: 3vw;
  top: 1vh;
  border-radius: 50vw;
  cursor: pointer;
  z-index: 2;
}
.Banner {
  opacity: 0.7;
  width: 30vw;
  z-index: 1;
  border-radius: 1.5vw;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(0 0 0.4rem #ffd700);
    animation: scaleBanner 0.5s ease forwards;
  }
}
@keyframes scaleBanner {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.03;
  }
}
@keyframes bannerAni {
  0% {
    transform: translateX(200vw);
  }
  20% {
    transform: translateX(200vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
